backports.cached-property==1.0.1
certifi>=2022.12.07
charset-normalizer==2.0.4
grpcio==1.53.0
grpcio-tools==1.39.0
idna==3.2
overrides==6.1.0
protobuf>=3.18.3
requests>=2.31.0
robotframework==4.1
robotframework-assertion-engine==0.2.0
robotframework-browser==7.1.0
robotframework-pythonlibcore==3.0.0
six==1.16.0
typing-extensions==3.10.0.0
typing-utils==0.1.0
urllib3==1.26.6
wrapt==1.12.1
